# Provider Vars
project = "vivid-plateau-278712"
region = "us-east1"
zone = "us-east1-b"

# GKE Vars
gke_cluster_name = "cea-k8s"
gke_node_pool_name = "cea-k8s-node-pool"
gke_node_pool_machine_type = "n2-standard-2"

# Hashicorp Vars
hashicorp_release_name = "cea"

# Vaul Vars
vault_replicas = 2

# Consul Vars
consul_replicas = 2